<div class="container">
    <ul>
        <li>
            <h6 class="mycounter" data-counter-time="1000" data-counter-delay="0">@ViewData["visiononerating"]</h6>
            <span><a>@ViewData["visionone"]</a></span>
        </li>
        <li>
            <h6 class="mycounter" data-counter-time="1000" data-counter-delay="0">@ViewData["visiontworating"]</h6>
            <span>@ViewData["visiontwo"]</span>
        </li>
        <li>
            <h6 class="mycounter" data-counter-time="1000" data-counter-delay="0">@ViewData["visionthreerating"]</h6>
            <span>@ViewData["visionthree"]</span>
        </li>
        <li>
            <h6 class="mycounter" data-counter-time="1000" data-counter-delay="0">@ViewData["visionfourrating"]</h6>
            <span>@ViewData["visionfour"]</span>
        </li>
    </ul>
</div>