@model MeckDoramenAndAssociates.Models.LandingSkill

@{
    ViewData["Title"] = "View";
    Layout = null;
}

<div class="modal-header">
    <h2>
        Landing About Us
    </h2>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <dt>
                <b>Header</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Header)
            </dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dt>
                <b>Body</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <dt>
                <b>Skill One</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillOne)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                <b>Rating</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillOneRating)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                <b>Skill Two</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillTwo)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                <b>Rating</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillTwoRating)
            </dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <dt>
                <b>Skill Three</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillThree)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                <b>Rating</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillThreeRating)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                <b>Skill Four</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillFour)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                <b>Rating</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillFourRating)
            </dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <dt>
                <b>Skill Five</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillFive)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                <b>Rating</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillFiveRating)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                <b>Skill Six</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillSix)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                <b>Rating</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SkillSixRating)
            </dd>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row pull-right">
        <div class="col-md-12">
            <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</div>
