@{
    ViewData["Title"] = "Read More";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<section class="banner products-banner">
    <div class="layer">

    </div>
</section>

<section class="products-title">
    <div class="container">
        <h3 style="text-transform: uppercase">
            <strong>
                @ViewData["newsheader"]
            </strong>
        </h3>
    </div>
</section>

<section class="products-body about"  style="padding-top:50px;">
    <div class="container">
        <ul class="row">
            <li data-src="images/cover.jpg" class="col-md-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="pic-overlay portfour">
                    <a>
                        <figure style="background: url(/UploadedFiles/News/@ViewData["image"]);"></figure>
                    </a>
                </div>
            </li>
            <li class="col-12 col-sm-7 col-md-7" data-aos="fade-up" data-aos-duration="1000">
                <p style="text-align: justify">
                    @ViewData["newsbody"]
                </p>
                <p style="text-align: justify">
                    @ViewData["newsbody1"]
                </p>
                
                
            </li>
            <li class="col-12 col-sm-12 col-md-12">
                <p style="text-align: justify" data-aos="fade-up" data-aos-duration="1000">
                    @ViewData["newsbody2"]
                </p>
                <p style="text-align: justify" data-aos="fade-up" data-aos-duration="1000">
                    @ViewData["newsbody3"]
                </p>

                <p style="text-align: justify" data-aos="fade-up" data-aos-duration="1000">You can find more information on the above topic by clicking the following link <a style="color: #ffd911" href="@ViewData["readmore"]">@ViewData["readmore"]</a> </p>
            </li>
        </ul>
    </div>
</section>