@{
    ViewData["Title"] = "Read More";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<section class="banner products-banner">
    <div class="layer">

    </div>
</section>

<section class="products-title">
    <div class="container">
        <h3>
            @ViewData["newsheader"]
        </h3>
    </div>
</section>

<section class="products-body">
    <div class="container">
        <ul class="row">
            @*<li class="col-12 col-sm-4 col-md-3" data-aos="fade-up" data-aos-duration="800">
                <figure style="background: url(images/WeddingServices.jpg);">
                </figure>
            </li>*@

            <li class="col-12 col-sm-12 col-md-12" data-aos="fade-up" data-aos-duration="800">
                @*<h3 class="d-inline-block">@Html.DisplayFor(model => model.Title)</h3>*@
                <p>
                    @ViewData["newsbody"]
                </p>
                <p>You can find more information on the above topic by clicking the following link <a href="@ViewData["readmore"]">@ViewData["readmore"]</a> </p>
            </li>
        </ul>
    </div>
</section>