@model  dynamic

@{
    ViewData["Title"] = "Our Services";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<section class="banner products-banner">
    <div class="layer">

    </div>
</section>

<section class="products-title">
    <div class="container">
        <h3 style="text-transform: uppercase">
            <strong>
                Our Services
            </strong>
        </h3>
    </div>
</section>

<section class="products-body" style="padding-top: 65px;">
    <div class="container">
        <ul class="row a">
            <li class="col-md-offset-1 col-md-10 col-md-offset-1" data-aos="fade-up" data-aos-duration="800" >
                @*<h3 class="d-inline-block">@Html.DisplayFor(model => model.Name)</h3>*@
                <p>
                    @ViewData["Landingheader"] 
                </p>
                <p style="padding-top: 20px; padding-bottom:10px">
                    @ViewData["Landingbody"]
                </p>

                @foreach (Service service in Model.Service)
                {
                    <p> <span style="color: blue">=></span> <a asp-action="Explanation" asp-controller="Service" asp-route-id="@service.ServiceId"> @service.Name</a></p>
                }
            </li>
        </ul>
    </div>
</section>