@model IEnumerable<MeckDoramenAndAssociates.Models.Service>
@{
    ViewData["Title"] = "All Services";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<section class="banner products-banner">
    <div class="layer">

    </div>
</section>

<section class="products-title">
    <div class="container">
        <h3>
            Our Services
        </h3>
    </div>
</section>

<section class="products-body" style="padding-top: 65px;">
    <div class="container">
        <ul class="row a">
            @*<li class="col-12 col-sm-4 col-md-3" data-aos="fade-up" data-aos-duration="800">
                    <figure style="background: url(UploadedFiles/Services/@ViewData["image"];">
                    </figure>
                </li>*@

            <li class="col-md-offset-1 col-md-10 col-md-offset-1" data-aos="fade-up" data-aos-duration="800" >
                @*<h3 class="d-inline-block">@Html.DisplayFor(model => model.Name)</h3>*@
                <p>
                    @ViewData["Landingheader"] 
                </p>
                <p style="padding-top: 20px; padding-bottom:10px">
                    @ViewData["Landingbody"]
                </p>

                @foreach (var item in Model)
                {
                    <p> <span style="color: blue">=></span> <a asp-action="Explanation" asp-controller="Service" asp-route-id="@item.ServiceId"> @item.Name</a></p>
                }
            </li>
        </ul>
    </div>
</section>